@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

page {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Roboto', 'Noto Sans SC',
    'Source Han Sans SC', 'Helvetica Neue', Arial, sans-serif;
}
